:root {
    /* colors */
    --black: #000000;
    --gray: #bbbbbb;
    --darkGray: #282828;
    --red: #eb0707;
    --green: #96c011;
    --white: #fff;
    /* font sizes */
    --primaryTitle: 2em;
    --secondaryTitle: 1.6em;
    --primaryText: 1em;
    --secondaryText: 0.8em;
}

.app {
  background-color: var(--white)!important;
  width: 1000px;
  margin: 0px auto;
  /* grid options and naming */
  display: grid;
  grid-template-rows: repeat(8, auto);
  grid-template-areas:
  "FoodBuilder"
  "IntroductoryText"
  /* "FoodBuilder" */
  "ShoppingCart"
  "Gallery"
  "BannerAdvert"
  "Review";

  -webkit-box-shadow: 0px 9px 19px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 9px 19px 0px rgba(0,0,0,0.29);
  box-shadow: 0px 9px 19px 0px rgba(0,0,0,0.29);
}

/* making all images not selectable or highlighted */
img {
  pointer-events: none;
  user-select: none;
}

/* marking text for theme change */
h1, h2, h3, h4, p {
  color: var(--black);
}

/* setting buttons to be hidden by default for the menu toggle */
/* .sendvici-toggle, .pite-toggle, .salate-toggle {
  display: none;
} */

/*------------ header ------------*/
.header {
  height: 165px;
  background-color: var(--black);
  width: 100%;
  overflow: visible;
  background-image: url('./images/graphics/headerBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 10px solid var(--green);
}

.header__logo {
  display: block;
  width: 270px;
  margin: 0px auto;
  padding-top: 30px;
}

.header__basil {
  display: block;
  margin: 0px auto;
  padding-left: 470px;
}

.header__theme {
  position: fixed;
  top: 0;
  margin-top: 10px;
  margin-left: 10px;
  opacity: 0.8;
  /* margin-top: -50px; */
}

.header__theme__title {
  color: var(--red);
  font-size: var(--secondaryText);

}

.header__theme__form {
  background-color: black;
  border-radius: 5px;

}

.header__theme__form__select {
  /* background-color: black!important;; */
  padding: 5px 10px 5px 15px;
  border-radius: 15px;
  font-weight: 900;
  display: block;
  font-size: 1em;
  margin: 0px auto;
  border: none;
  overflow: -moz-scrollbars-none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* text-overflow: ''; */
}

.header__theme__form__select:hover {
  cursor: pointer;
}

select.header__theme__form__select {
  background-color: black!important;
    /* text-align: center; */
    /* font-size: 1.3em; */
        width: 100%;
        font-weight: 900;
  color: white;
  border: 0;
  overflow: -moz-scrollbars-none;
}

/*------------ food builder ------------*/
.foodBuilder {
  border-bottom: 3px solid var(--red);
  border-bottom-style: dotted;
  max-width: 920px;
  margin: 0px auto;
  /* grid options and naming */
  grid-area: FoodBuilder;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
  "foodBuilderText foodBuilderText"
  "foodBuilderImage foodBuilderButtons"
  "shoppingCart shoppingCart";
}

/* text container */
.foodBuilder__textContainer {
  grid-area: foodBuilderText;
  text-align: center;
}

.foodBuilder__textContainer__title {
  font-size: var(--secondaryTitle);
  font-weight: 900;
  margin-top: 40px;
}

.foodBuilder__textContainer__text {
  font-size: var(--primaryText);
  margin: 0px auto;
  width: 800px;
  font-weight: 400;
  padding-bottom: 40px;
}

/* ingredients container */
.foodBuilder__ingredientsContainer {
  grid-area: foodBuilderImage;
  /* margin-bottom: 70px; */
  text-align: right;
  padding-right: 30px;
  /* background-color: red; */
}

.foodBuilder__ingredientsContainer--ingredient {
  position: relative;
  grid-area: foodBuilderImage;
  /* margin-bottom: 50px; */
  text-align: right;
  padding-right: 30px;
}

/* separate ingredients buttons conatiner so that it scrolls  */
.buttonsContainer {
  overflow-y: auto;
  height: 350px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-shadow: inset 0px -8px 9px -3px rgba(0,0,0,0.20);
  -moz-box-shadow: inset 0px -8px 9px -3px rgba(0,0,0,0.20);
  box-shadow: inset 0px -8px 9px -3px rgba(0,0,0,0.20);
}

/* buttons container */
.foodBuilder__buttonsContainer {
  grid-area: foodBuilderButtons;
  /* border: 1px solid var(--gray); */
  border-radius: 5px;
  height: 500px;
  width: 365px;
  background-color: var(--darkGray);
  /* margin-bottom: 60px; */
}

.buttonsContainer__description {
  text-align: center;
  border-bottom: 1px solid var(--red);
  margin-left: 10px;
  margin-right: 10px;
}

.buttonsContainer__description h4 {
  font-size: var(--primaryText);
  color: var(--white);
  width: 70%;
  font-weight: 400;
  margin: 0px auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ingredient button title */
#ingredientTypeClassStyling {
  background-color: var(--red);
  height: 18px!important;
}

.foodBuilder__ingredientButton__buttonContainer__ingredientTitle {
  color: var(--darkGray);
  font-size: var(--primaryText);
  margin-top: 0px;
  /* padding-left: 10px; */
  display: block;
  text-align: center;
  /* width: 100%; */
}

/* ingredients buttons */

.foodBuilder__ingredientButton {

}

.foodBuilder__ingredientButton__buttonContainer {
  border-bottom: 1px solid var(--red);
  /* border: 50px solid blue; */
  z-index: 9999;
  /* border-top: 1px solid var(--gray); */
  /* grid options and naming */
  /* display: grid; */
  /* grid-template-columns: repeat(3, 300px); */
  /* grid-template-columns: repeat(3, auto); */
  /* align-items: center; */
  /* text-align: center; */
  /* grid-template-columns: 70px auto; */
  /* grid-template-rows: repeat(1, auto); */
  /* grid-template-areas: */
  /* "ingredientImage ingredientText"; */
}

.foodBuilder__ingredientButton__buttonContainer>div {
  padding-top: 5px;
  z-index: 1;
  /* padding-bottom: 5px; */
}

.foodBuilder__ingredientButton__buttonContainer:hover {
  cursor: pointer;
  background-color: var(--black);
}

.foodBuilder__ingredientButton__buttonContainer:active {
  background-color: var(--red);
}

.foodBuilder__ingredientButton__buttonContainer h4 {
  /* grid-area: ingredientText; */
  padding-left: 10px;
}

.foodBuilder__ingredientButton__buttonContainer__checkboxForm {
  float: left;
}

.foodBuilder__ingredientButton__buttonContainer__name {
  /* grid-area: ingredientText; */
  padding-top: 2px;
  margin: 0px;
  font-size: var(--primaryText);
  font-weight: 500;
  color: var(--white);
  font-size: var(--primaryText);
}

.foodBuilder__ingredientButton__buttonContainer__description {
  /* grid-area: ingredientText; */
  margin: 0px;
  margin-left: -5px;
  margin-bottom: -5px;
  /* margin-top: -10px; */
  font-size: var(--secondaryText);
  color: var(--gray);
  /* width: 70%; */
}

.foodBuilder__ingredientButton__buttonContainer__price {
  /* grid-area: ingredientText; */
  margin: 0px;
  margin-right: 5px;
  margin-top: -20px;
  float: right;
  color: var(--white);
  font-size: var(--primaryText);
  font-weight: 400;
  /* border-left: 1px solid var(--gray); */
  /* margin-top: -60px; */
  /* padding: 5px; */
}

/* button that adds the ingredient and food */
.addButton {
  /* grid-area: ingredientText; */
  /* position: absolute; */
  height: 32px;
  border: none;
  background-color: var(--green);
  color: var(--white);
  font-size: var(--primaryText);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 3px;
  /* bottom: 5px; */
  width: 100%;
  /* margin-top: 7px; */

  -webkit-box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.7);
}

.addButton__textSpan {
  /* display: block;
  display: inline;
  position: relative; */
  font-size: var(--primaryText);
  color: var(--darkGray);
  font-weight: 700;
}

.addButton img {
  height: 15px;
  margin-left: 6px;
  display: inline;
}

.addButton:hover {
  cursor: pointer;
  background-color: var(--red);
}

.addButton:active {
  background-color: var(--red);
}

/* checkbox for additional ingredients */
#checkboxId {
  /* display: none; */
}

.checkbox {
  color: var(--white);
  border-top: 1px solid var(--green);
  background-color: var(--darkGray);
  /* padding-top: 8px; */
  padding-bottom: 8px;
  /* margin-top: -100px; */
}

.checkbox__input {
  margin-left: 20px;
}

.checkbox__description {
  text-align: center;
  margin: 0px auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 70%;
  margin: 0px auto;
    margin-top: 5px;
  color: var(--white);
  font-size: var(--primaryText);
  font-weight: 400;
}

/*------------ shopping cart ------------*/
.shoppingCart {
  grid-area: shoppingCart;
  width: 100%;
  max-width: 920px;
  margin: 0px auto;
  border: 1px solid var(--gray);
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 10px;
  /* border-bottom: 5px solid var(--red); */
}

/* single item */
.shoppingCart__itemContainer {
  max-height: 430px;
  overflow-y: scroll;
}

.shoppingCart__item {
  /* border: 1px solid var(--gray); */
  background-color: var(--darkGray);
  display: inline-block;
  width: 23.5%;
  border-radius: 9px;
  /* overflow:hidden; */
  /* border-bottom: 1px solid var(--gray); */
  margin: 5px;
  /* padding: 10px; */
}

/* .shoppingCart__item:not(:first-child) {
  margin-left: 10px;
} */

.shoppingCart__item h2 {
  font-size: var(--primaryText);
  padding-left: 7px;
  color: var(--white);
  margin-bottom: 5px;
}

/* .shoppingCart__item__nameContainer {

} */

.shoppingCart__item__nameContainer__name {
float: left;
}

/* .shoppingCart__item__ingredientsContainer {

} */

.shoppingCart__item__ingredientsContainer__ingredients {
  color: var(--gray)!important;
  font-size: var(--secondaryText)!important;
  font-weight: 400;
  /* width: 100%; */
  border-top: 1px solid var(--red);
  clear: left;
  padding-top: 5px;
  margin-bottom: 25px!important;
}

/* .shoppingCart__item__priceContainer {

} */

.shoppingCart__item__priceContainer__price {
  float: left;
}

.shoppingCart__item__deleteButtonContainer {

}

.shoppingCart__item__deleteButton {
  float: right;
  margin: 6px;
  background-color: var(--red);
  border: none;
  border-radius: 4px;
  font-size: var(--primaryText);
  font-weight: 900;
  color: var(--darkGray);
  padding: 0px 7px 2px 7px;
}

.shoppingCart__item__deleteButton:hover {
  cursor: pointer;
  color: var(--white);
}

/*------------ calorie counter ------------*/

.calorieCounter {
  grid-area: calorieCounter;
  background-color: var(--white);
  border-radius: 5px;
	width: 100%;
  /* height: 320px; */
  padding-top: 10px;
  padding-bottom: 10px;
	/* border: 7px solid var(--gray); */
  /* outline: 4px solid var(--gray); */
  box-shadow: 0 0 0 2pt var(--gray);


  /* -webkit-box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.35); */
}

.calorieCounter__title {
  font-size: var(--primaryText);
  font-weight: bold;
}

.calorieCounter__subTitle {
  font-weight: bold;
  font-size: var(--primaryText);
}

.calorieCounter p {
  font-size: var(--secondaryText);
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	/* font-size: var(--primaryText); */
}

.calorieCounter hr {
	width: 93%;
	background-color: var(--black);
	border: none;
	margin-left: 10px;
}

.calorieCounter__firstHr{
	height: 2px;
	margin-top: 5px;
}

.calorieCounter__secondHr {
	height: 11px;
	margin-top: 3px;
	margin-bottom: 5px;
}

.calorieCounter__thirdHr {
	height: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.calorieCounter__hrThin {
	height: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.calorieCounter__number {
	float: right;
	margin-right: 12px;
}

/* total order */

.shoppingCart__total {
  /* border: 1px solid var(--red); */
  background-color: var(--darkGray);
  border-radius: 5px;
  /* color: var(--white); */
  overflow:hidden;
  /* margin: 20px; */
  margin-top: 10px;
  padding: 10px;
}

.shoppingCart__total h2 {
  font-size: var(--primaryText);
  color: var(--white);
  margin: 0px;
  height: 100%;
}

.shoppingCart__total__priceContainer {
  float: left;
  border-right: 1px solid var(--gray);
  padding-right: 10px;
}

.shoppingCart__total__calorieContainer {
  float: left;
  padding: 0px 10px 0px 10px;
}

.shoppingCart__total__adressContainer {
  /* float: right; */
  float: left;
  border-left: 1px solid var(--gray);
  padding-left: 10px;
}

.shoppingCart__total__buttonTotal {
  /* display: block; */
  float: right;
  background-color: var(--red);
  /* text-align: center; */
  border: none;
  margin: -3px;
  font-weight: 900;
  border-radius: 5px;
  color: var(--white);
}

.shoppingCart__total__buttonTotal:hover {
  background-color: var(--white);
  color: var(--red);
  cursor: pointer;
}

.shoppingCart__total__buttonTotal__textSpan {
  font-size: var(--secondaryTitle);
}

.shoppingCart__total__buttonTotal__textSpan:hover {
  /* color: var(--darkGray); */
}


.shoppingCart__total__buttonTotal img {
  /* float: left; */
  /* display: inline; */
    /* color: var(--white); */
    height: 15px;
    margin-left: 6px;
    /* width: 30px; */
}

.shoppingCart__total__buttonTotal h4 {
  /* float: right; */
  /* display: inline; */
  /* color: var(--white); */
}

/*------------ introductory text ------------*/
.introductoryText {
  text-align: center;
  grid-area: IntroductoryText;
  border-bottom: 3px solid var(--red);
  border-bottom-style: dotted;
  max-width: 920px;
  margin: 0px auto;
}

.introductoryText__title {
  font-size: var(--primaryTitle);
  font-weight: 900;
  margin-top: 40px;
}

.introductoryText__text {
  font-size: var(--primaryText);
  margin: 0px auto;
  /* width: 800px; */
  font-weight: 400;
  padding-bottom: 40px;
}

/*------------ gallery ------------*/
.gallery {
  /* text-align: center; */
  max-width: 920px;
  margin: 0px auto;
  margin-top: 30px;
  grid-area: Gallery;
  /* grid options and naming */
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas:
  "GalleryImage GalleryText";
}

.gallery__imageContainer {
  grid-area: GalleryImage;
  /* width: 50%; */
  height: 450px;
  padding: 20px;
  margin-right: 20px;
}

.gallery__textContainer {
  grid-area: GalleryText;
  /* width: 50%; */
  height: 450px;
  padding: 20px;
  margin-left: 20px;
}

.gallery__textContainer h1 {
  font-size: var(--secondaryTitle);
}

.gallery__textContainer h4 {
  font-size: var(--primaryText);
  font-weight: 400;
  margin-top: 40px;
}

/*------------ banner advert ------------*/
.bannerAdvert {
  grid-area: BannerAdvert;
  text-align: center;
  border-bottom: 3px solid var(--red);
  border-bottom-style: dotted;
  border-top: 3px solid var(--red);
  border-top-style: dotted;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  max-width: 920px;
  margin: 0px auto;
}

.bannerAdvert img {
  width: 100%;
}

.bannerAdvert__imageMobile {
  display : none;
}

/*------------ review ------------*/
.review {
  grid-area: Review;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 70px;
  border: 1px solid var(--gray);
  padding: 5px;
  border-radius: 5px;
  max-width: 920px;
}

/* review field */
.review__fieldContainer {
  border: 1px solid var(--gray);
  margin-bottom: 10px;
  border-radius: 5px;
}

.review__fieldContainer__review__topContainer {
  border-bottom: 1px solid var(--gray);
}

.review__fieldContainer__review__topContainer h3 {
  font-size: var(--primaryText);
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid var(--gray);
}

.review__fieldContainer__review__topContainer i {
  padding-left: 20px;
}

.review__fieldContainer__review__bottomContainer h3 {
  font-size: var(--primaryText);
  font-weight: 400;
  padding-left: 20px;
}

.review hr {
  background-color: var(--green);
  /* color: var(--red); */
  border: none;
  height: 2px;
}

/* input field */
.review__inputContainer {
  /* border: 1px solid var(--gray); */
}

.review__inputContainer__form__name, .review__inputContainer__form__email, .review__inputContainer__form__comment, .review__inputContainer__form__button {
  width: 98%;
  border: 1px solid var(--gray);
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: var(--primaryText);
  /* font-size: 17px; */
}

.review__inputContainer__form__comment {
  height: 200px;
}

.review__inputContainer input[type=text] {
  color: var(--black);
  padding-left: 20px;
}

.review__inputContainer__form__button {
  width: 100%;
  color: var(--black);
}

.review__inputContainer__form__button:hover {
  cursor: pointer;
  background-color: var(--gray);
}

/*------------ footer ------------*/
.footer {
  /* grid-area: Footer; */
  height: 165px;
  background-color: var(--black);
  background-image: url('./images/graphics/footerBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer__container {
  width: 1279px;
  margin: 0px auto;
}

.footer__container__logo {
  padding-top: 20px;
}

.footer__container__basil {
  /* position: relative; */
  float: right;
  display: block;
  margin: 0px auto;
  margin-top: -35px;
  /* margin-right: 80px; */
  /* margin-top: -175px; */
  /* margin-right: 150px; */
}

.footer__container__socialContainer {
  width: 55px;
  height: 55px;
  background-color: var(--white);
  float: right;
  border-radius: 25px;
  font-size: 30px;
  color: var(--black);
  margin-left: 20px;
  margin-top: 50px;
}

.footer__container__socialContainer i {
  padding-top: 12px;
  padding-left: 13px;
}

.footer__container__socialContainer:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.footer__container__socialContainer:hover i {
  color: #333333;
}
