:root {
    --black: #000000;
    --gray: #e3e3e3;
    --darkGray: #b9b9b9;
    --red: #eb0707;
    --white: #fff;
}

.app {
  width: 1279px;
  margin: 0px auto;
  /* grid options and naming */
  display: grid;
  grid-template-rows: repeat(8, auto);
  grid-template-areas:
  "IntroductoryText"
  "FoodBuilder"
  "ShoppingCart"
  "Gallery"
  "BannerAdvert"
  "Review";
}

/*------------ header ------------*/
.header {
  height: 165px;
  background-color: var(--black);
  width: 100%;
  overflow: visible;
  background-image: url('./images/graphics/headerBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.header__logo {
  display: block;
  width: 270px;
  margin: 0px auto;
  padding-top: 30px;
}

.header__basil {
  display: block;
  margin: 0px auto;
  padding-left: 470px;
}

/*------------ introductory text ------------*/
.introductoryText {
  text-align: center;
  grid-area: IntroductoryText;
  border-bottom: 3px solid var(--red);
  border-bottom-style: dotted;
}

.introductoryText__title {
  font-weight: 900;
  margin-top: 40px;
}

.introductoryText__text {
  margin: 0px auto;
  width: 800px;
  font-weight: 400;
  padding-bottom: 40px;
}

/*------------ food builder ------------*/
.foodBuilder {
  border-bottom: 3px solid var(--red);
  border-bottom-style: dotted;
  /* grid options and naming */
  grid-area: FoodBuilder;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
  "foodBuilderText foodBuilderText"
  "foodBuilderImage foodBuilderButtons";
}

/* text container */
.foodBuilder__textContainer {
  grid-area: foodBuilderText;
  text-align: center;
}

.foodBuilder__textContainer__title {
  font-weight: 900;
  margin-top: 40px;
}

.foodBuilder__textContainer__text {
  margin: 0px auto;
  width: 800px;
  font-weight: 400;
  padding-bottom: 40px;
}

/* ingredients container */
.foodBuilder__ingredientsContainer {
  grid-area: foodBuilderImage;
  margin-bottom: 50px;
  /* background-color: red; */
}

/* buttons container */
.foodBuilder__buttonsContainer {
  grid-area: foodBuilderButtons;
  border: 1px solid var(--gray);
  margin-bottom: 50px;
}

.foodBuilder__buttonsContainer__foodtypeMenu {
  text-align: center;
  border-bottom: 1px solid var(--gray);
}

.foodBuilder__buttonsContainer__foodtypeMenu__button {
  background-color: none;
  background: none;
  border: none;
  font-size: 25px;
  /* font-weight: 600; */
  margin: 20px;
}

.foodBuilder__buttonsContainer__foodtypeMenu__button:hover {
  cursor: pointer;
}

.foodBuilder__buttonsContainer__foodtypeMenu__span {font-weight: 700;}

.foodBuilder__ingredientsContainerbutton {
  text-align: center;
  border-bottom: 1px solid var(--gray);
}

.foodBuilder__ingredientsContainer__pizzaIngredientsMenuContainer {

}

.foodBuilder__ingredientsContainer__pizzaIngredientsMenuContainer__button {
  background: none;
  border: none;
  font-size: 15px;
  margin: 20px;
}

.foodBuilder__ingredientsContainer__pizzaIngredientsMenuContainer__button:hover {
  cursor: pointer;
}

/*------------ shopping cart ------------*/
.shoppingCart {
  grid-area: ShoppingCart;
  border: 1px solid var(--gray);
  margin-top: 50px;
  border-bottom: 5px solid var(--red);
}

/* single item */
.shoppingCart__item {
  border: 1px solid var(--gray);
  overflow:hidden;
  /* border-bottom: 1px solid var(--gray); */
  margin: 20px;
  padding: 10px;
}

.shoppingCart__item__nameContainer {
  float: left;
  border-right: 1px solid var(--gray);
  padding-right: 10px;
}

.shoppingCart__item__nameContainer__name {
  font-weight: 300;
}

.shoppingCart__item__ingredientsContainer {
  float: left;
  padding: 0px 10px 0px 10px;
}

.shoppingCart__item__ingredientsContainer__ingredients {
  font-weight: 300;
}

.shoppingCart__item__priceContainer {
  float: right;
  border-left: 1px solid var(--gray);
  padding-left: 10px;
}

/* total order */

.shoppingCart__total {
  /* border: 1px solid var(--red); */
  background-color: var(--darkGray);
  color: var(--white);
  overflow:hidden;
  margin: 20px;
  padding: 10px;
}

.shoppingCart__total__priceContainer {
  float: left;
  border-right: 1px solid var(--gray);
  padding-right: 10px;
}

.shoppingCart__total__calorieContainer {
  float: left;
  padding: 0px 10px 0px 10px;
}

.shoppingCart__total__adressContainer {
  float: right;
  border-left: 1px solid var(--gray);
  padding-left: 10px;
}

/*------------ gallery ------------*/
.gallery {
  /* text-align: center; */
  margin: 0px auto;
  margin-top: 30px;
  grid-area: Gallery;
  /* grid options and naming */
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-areas:
  "GalleryImage GalleryText";
}

.gallery__imageContainer {
  grid-area: GalleryImage;
  width: 500px;
  height: 500px;
  padding: 20px;
  margin-right: 20px;
}

.gallery__textContainer {
  grid-area: GalleryText;
  width: 500px;
  height: 500px;
  padding: 20px;
  margin-left: 20px;
}

/*------------ banner advert ------------*/
.bannerAdvert {
  grid-area: BannerAdvert;
}

/*------------ review ------------*/
.review {
  grid-area: Review;
}

/*------------ footer ------------*/
.footer {
  /* grid-area: Footer; */
  height: 165px;
  background-color: var(--black);
  background-image: url('./images/graphics/footerBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer__container {
  width: 1279px;
  margin: 0px auto;
}

.footer__container__logo {
  padding-top: 20px;
}

.footer__container__basil {
  /* position: relative; */
  float: right;
  display: block;
  margin: 0px auto;
  margin-top: -35px;
  /* margin-right: 80px; */
  /* margin-top: -175px; */
  /* margin-right: 150px; */
}

.footer__container__socialContainer {
  width: 55px;
  height: 55px;
  background-color: var(--white);
  float: right;
  border-radius: 25px;
  font-size: 30px;
  color: var(--black);
  margin-left: 20px;
  margin-top: 50px;
}

.footer__container__socialContainer i {
  padding-top: 12px;
  padding-left: 13px;
}

.footer__container__socialContainer:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.footer__container__socialContainer:hover i {
  color: #333333;
}


















/* */
