:root {
    /* colors */
    --black: #000000;
    --gray: #e3e3e3;
    --darkGray: #b9b9b9;
    --red: #eb0707;
    --white: #fff;
    /* font sizes */
    --primaryTitle: 2em;
    --secondaryTitle: 1.6em;
    --primaryText: 1em;
    --secondaryText: 0.7em;
}

.app {
  width: 1279px;
  margin: 0px auto;
  /* grid options and naming */
  display: grid;
  grid-template-rows: repeat(8, auto);
  grid-template-areas:
  "IntroductoryText"
  "FoodBuilder"
  "ShoppingCart"
  "Gallery"
  "BannerAdvert"
  "Review";
}

/* making all images not selectable or highlighted */
img {
  pointer-events: none;
  user-select: none;
}

/* setting buttons to be hidden by default for the menu toggle */
.sendvici-toggle, .pite-toggle, .salate-toggle {
  display: none;
}

/*------------ header ------------*/
.header {
  height: 165px;
  background-color: var(--black);
  width: 100%;
  overflow: visible;
  background-image: url('./images/graphics/headerBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.header__logo {
  display: block;
  width: 270px;
  margin: 0px auto;
  padding-top: 30px;
}

.header__basil {
  display: block;
  margin: 0px auto;
  padding-left: 470px;
}

/*------------ introductory text ------------*/
.introductoryText {
  text-align: center;
  grid-area: IntroductoryText;
  border-bottom: 3px solid var(--red);
  border-bottom-style: dotted;
}

.introductoryText__title {
  font-size: var(--primaryTitle);
  font-weight: 900;
  margin-top: 40px;
}

.introductoryText__text {
  font-size: var(--primaryText);
  margin: 0px auto;
  width: 800px;
  font-weight: 400;
  padding-bottom: 40px;
}

/*------------ food builder ------------*/
.foodBuilder {
  border-bottom: 3px solid var(--red);
  border-bottom-style: dotted;
  /* grid options and naming */
  grid-area: FoodBuilder;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
  "foodBuilderText foodBuilderText"
  "foodBuilderImage foodBuilderButtons"
  "shoppingCart calorieCounter";
}

/* text container */
.foodBuilder__textContainer {
  grid-area: foodBuilderText;
  text-align: center;
}

.foodBuilder__textContainer__title {
  font-size: var(--secondaryTitle);
  font-weight: 900;
  margin-top: 40px;
}

.foodBuilder__textContainer__text {
  font-size: var(--primaryText);
  margin: 0px auto;
  width: 800px;
  font-weight: 400;
  padding-bottom: 40px;
}

/* ingredients container */
.foodBuilder__ingredientsContainer {
  grid-area: foodBuilderImage;
  margin-bottom: 50px;
  /* background-color: red; */
}

/* separate ingredients buttons conatiner so that it scrolls  */
.buttonsContainer {
  overflow-y: auto;
  height: 400px;
  -webkit-box-shadow: inset 0px -8px 9px -3px rgba(0,0,0,0.20);
  -moz-box-shadow: inset 0px -8px 9px -3px rgba(0,0,0,0.20);
  box-shadow: inset 0px -8px 9px -3px rgba(0,0,0,0.20);
}

/* buttons container */
.foodBuilder__buttonsContainer {
  grid-area: foodBuilderButtons;
  border: 1px solid var(--gray);
  height: auto;
  width: 560px;
  margin-bottom: 60px;
}

/* ingredients buttons */

.foodBuilder__ingredientButton {}

.foodBuilder__ingredientButton__buttonContainer {
  border-bottom: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
  /* grid options and naming */
  display: grid;
  /* grid-template-columns: repeat(3, 300px); */
  /* grid-template-columns: repeat(3, auto); */
  /* align-items: center; */
  /* text-align: center; */
  grid-template-columns: 70px auto;
  /* grid-template-rows: repeat(1, auto); */
  grid-template-areas:
  "ingredientImage ingredientText";
}

.foodBuilder__ingredientButton__buttonContainer>div {
  padding-top: 5px;
}

.foodBuilder__ingredientButton__buttonContainer:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.foodBuilder__ingredientButton__buttonContainer:active {
  background-color: var(--white);
}

.foodBuilder__ingredientButton__buttonContainer__image {
  grid-area: ingredientImage;
  /* width: 50%; */
  /* height: 30%; */
  padding: 3px;
}

.foodBuilder__ingredientButton__buttonContainer h4 {
  grid-area: ingredientText;
  padding-left: 10px;
}

.foodBuilder__ingredientButton__buttonContainer__name {
  /* grid-area: ingredientText; */
  padding-top: 2px;
  margin: 0px;
  font-size: var(--primaryText);
}

.foodBuilder__ingredientButton__buttonContainer__description {
  /* grid-area: ingredientText; */
  margin: 0px;
  /* margin-top: -10px; */
  font-size: var(--secondaryText);
  color: var(--red);
  /* width: 70%; */
}

.foodBuilder__ingredientButton__buttonContainer__price {
  /* grid-area: ingredientText; */
  margin: 0px;
  font-size: var(--secondaryTitle);
  /* border-left: 1px solid var(--gray); */
  /* margin-top: -60px; */
  /* padding: 5px; */
}

/* button that adds the ingredient and food */
.addButton {
  /* grid-area: ingredientText; */
  /* position: absolute; */
  height: 40px;
  border: none;
  background-color: var(--red);
  color: var(--white);
  font-size: var(--primaryText);
  bottom: 5px;
  width: 100%;
}

.addButton:hover {
  cursor: pointer;
  background-color: #bd0505;
}

.addButton:active {
  background-color: var(--red);
}

/* checkbox for additional ingredients */
#checkboxId {
  /* display: none; */
}

.checkbox {

}

.checkbox__input {

}

/*------------ shopping cart ------------*/
.shoppingCart {
  grid-area: shoppingCart;
  width: 93.5%;
  border: 1px solid var(--gray);
  margin-top: 0px;
  margin-bottom: 40px;
  /* border-bottom: 5px solid var(--red); */
}

/* single item */
.shoppingCart__item {
  border: 1px solid var(--gray);
  overflow:hidden;
  /* border-bottom: 1px solid var(--gray); */
  margin: 20px;
  padding: 10px;
}

.shoppingCart__item h2 {
  font-size: var(--primaryText);
  margin: 0px;
}

.shoppingCart__item__nameContainer {
  float: left;
  border-right: 1px solid var(--gray);
  padding-right: 10px;
}

.shoppingCart__item__nameContainer__name {
  font-weight: 500;
}

.shoppingCart__item__ingredientsContainer {
  float: left;
  padding: 0px 10px 0px 10px;
}

.shoppingCart__item__ingredientsContainer__ingredients {
  font-weight: 300;
}

.shoppingCart__item__priceContainer {
  font-weight: 500;
  float: right;
  border-left: 1px solid var(--gray);
  padding-left: 10px;
}

/* total order */

.shoppingCart__total {
  /* border: 1px solid var(--red); */
  background-color: var(--darkGray);
  /* color: var(--white); */
  overflow:hidden;
  margin: 20px;
  padding: 10px;
}

.shoppingCart__total h2 {
  font-size: var(--primaryText);
  margin: 0px;
}

.shoppingCart__total__priceContainer {
  float: left;
  border-right: 1px solid var(--gray);
  padding-right: 10px;
}

.shoppingCart__total__calorieContainer {
  float: left;
  padding: 0px 10px 0px 10px;
}

.shoppingCart__total__adressContainer {
  float: right;
  border-left: 1px solid var(--gray);
  padding-left: 10px;
}

/*------------ calorie counter ------------*/

.calorieCounter {
  grid-area: calorieCounter;
	width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
	border: 7px solid var(--gray);
}

.calorieCounter__title {
  font-size: var(--secondaryTitle);
  font-weight: bold;
}

.calorieCounter__subTitle {
  font-weight: bold;
}

.calorieCounter p {
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	/* font-size: var(--primaryText); */
}

.calorieCounter hr {
	width: 93%;
	background-color: var(--black);
	border: none;
	margin-left: 10px;
}

.calorieCounter__firstHr{
	height: 2px;
	margin-top: 5px;
}

.calorieCounter__secondHr {
	height: 11px;
	margin-top: 3px;
	margin-bottom: 5px;
}

.calorieCounter__thirdHr {
	height: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.calorieCounter__hrThin {
	height: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.calorieCounter__number {
	float: right;
	margin-right: 12px;
}

/*------------ gallery ------------*/
.gallery {
  /* text-align: center; */
  margin: 0px auto;
  margin-top: 30px;
  grid-area: Gallery;
  /* grid options and naming */
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-areas:
  "GalleryImage GalleryText";
}

.gallery__imageContainer {
  grid-area: GalleryImage;
  width: 500px;
  height: 500px;
  padding: 20px;
  margin-right: 20px;
}

.gallery__textContainer {
  grid-area: GalleryText;
  width: 500px;
  height: 500px;
  padding: 20px;
  margin-left: 20px;
}

.gallery__textContainer h1 {
  font-size: var(--secondaryTitle);
}

.gallery__textContainer h4 {
  font-size: var(--primaryText);
  font-weight: 400;
  margin-top: 40px;
}

/*------------ banner advert ------------*/
.bannerAdvert {
  grid-area: BannerAdvert;
  text-align: center;
  border-bottom: 3px solid var(--red);
  border-bottom-style: dotted;
  border-top: 3px solid var(--red);
  border-top-style: dotted;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.bannerAdvert__imageMobile {
  display : none;
}

/*------------ review ------------*/
.review {
  grid-area: Review;
  margin-top: 50px;
  margin-bottom: 70px;
  border: 1px solid var(--gray);
  padding: 20px;
}

/* review field */
.review__fieldContainer {
  border: 1px solid var(--gray);
  margin-bottom: 50px;
}

.review__fieldContainer__review__topContainer {
  border-bottom: 1px solid var(--gray);
}

.review__fieldContainer__review__topContainer h3 {
  font-size: var(--primaryText);
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid var(--gray);
}

.review__fieldContainer__review__topContainer i {
  padding-left: 20px;
}

.review__fieldContainer__review__bottomContainer h3 {
  font-size: var(--primaryText);
  font-weight: 400;
  padding-left: 20px;
}

/* input field */
.review__inputContainer {
  /* border: 1px solid var(--gray); */
}

.review__inputContainer__form__name, .review__inputContainer__form__email, .review__inputContainer__form__comment, .review__inputContainer__form__button {
  width: 98%;
  border: 1px solid var(--gray);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: var(--primaryText);
  /* font-size: 17px; */
}

.review__inputContainer__form__comment {
  height: 200px;
}

.review__inputContainer input[type=text] {
  color: var(--black);
  padding-left: 20px;
}

.review__inputContainer__form__button {
  width: 100%;
}

.review__inputContainer__form__button:hover {
  cursor: pointer;
  background-color: var(--gray);
}

/*------------ footer ------------*/
.footer {
  /* grid-area: Footer; */
  height: 165px;
  background-color: var(--black);
  background-image: url('./images/graphics/footerBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer__container {
  width: 1279px;
  margin: 0px auto;
}

.footer__container__logo {
  padding-top: 20px;
}

.footer__container__basil {
  /* position: relative; */
  float: right;
  display: block;
  margin: 0px auto;
  margin-top: -35px;
  /* margin-right: 80px; */
  /* margin-top: -175px; */
  /* margin-right: 150px; */
}

.footer__container__socialContainer {
  width: 55px;
  height: 55px;
  background-color: var(--white);
  float: right;
  border-radius: 25px;
  font-size: 30px;
  color: var(--black);
  margin-left: 20px;
  margin-top: 50px;
}

.footer__container__socialContainer i {
  padding-top: 12px;
  padding-left: 13px;
}

.footer__container__socialContainer:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.footer__container__socialContainer:hover i {
  color: #333333;
}

/*---------------------------------------------------------------*/
/*------------------------ mobile design ------------------------*/
/*---------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 1200px) {
  :root {
      /* colors */
      /* --black: #000000;
      --gray: #e3e3e3;
      --darkGray: #b9b9b9;
      --red: #eb0707;
      --white: #fff; */
      /* font sizes */
      --primaryTitle: 1.7em;
      --secondaryTitle: 1.6em;
      --primaryText: 1em;
      --secondaryText: 0.7em;
  }

  .app {
    width: 100%;
    margin: 0px;
  }
  /*------------ header ------------*/
  .header {
    height: 115px;
  }

  .header__logo {
    width: 150px;
  }

  .header__basil {
    padding-left: 200px;
    padding-top: 8px;
    width: 70px;
  }
  /*------------ introductory text ------------*/
  .introductoryText {

  }

  .introductoryText__title {

  }

  .introductoryText__text {
    width: 90%;
  }
  /*------------ food builder ------------*/
  .foodBuilder {
    /* grid options and naming */
    grid-area: FoodBuilder;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
    "foodBuilderButtons foodBuilderButtons"
    "foodBuilderImage foodBuilderImage"
    "shoppingCart"
    "calorieCounter";
  }

  /* text container */
  .foodBuilder__textContainer {
    display: none;
  }

  .foodBuilder__textContainer__title {

  }

  .foodBuilder__textContainer__text {
    width: 90%;
  }

  /* ingredients container */
  .foodBuilder__ingredientsContainer {
    grid-area: foodBuilderImage;
    margin: 0px auto;
  }

  .foodBuilder__ingredientsContainer img {
    width: 100%;
  }

  /* buttons container */
  .foodBuilder__buttonsContainer {
    grid-area: foodBuilderButtons;
    /* adding 100% makes vertical scrollbar appear */
    width: 99.5%;
  }

  .foodBuilder__ingredientsContainerbutton {
    text-align: center;
    border-bottom: 1px solid var(--gray);
  }

  .foodBuilder__ingredientsContainer__pizzaIngredientsMenuContainer {

  }

  .foodBuilder__ingredientsContainer__pizzaIngredientsMenuContainer__button {
    /* margin: 15px; */
  }

  .foodBuilder__ingredientsContainer__pizzaIngredientsMenuContainer__button:hover {

  }

  /* ingredients buttons */

  .foodBuilder__ingredientPizza {}

  .foodBuilder__ingredientPizza__buttonContainer {

  }

  .foodBuilder__ingredientPizza__buttonContainer:hover {

  }

  .foodBuilder__ingredientPizza__buttonContainer h4 {
    padding-right: 10px;
    /* margin-right: -20px; */
  }

  .foodBuilder__ingredientPizza__buttonContainer__image {
    width: 80%;
    height: 93%;
    margin: 0px auto;
  }

  .foodBuilder__ingredientPizza__buttonContainer__name {
    font-size: var(--primaryText);
  }

  .foodBuilder__ingredientPizza__buttonContainer__description {
    /* width: 70%; */
  }

  .foodBuilder__ingredientPizza__buttonContainer__price {
    /* margin-top: -70px; */
  }

  .foodBuilder__ingredientPizza__buttonContainer__calorie {
    /* margin-top: -40px; */
  }

  /*------------ shopping cart ------------*/
  .shoppingCart {
    margin-top: 20px;
    border-bottom: 3px solid var(--red);
    border-bottom-style: dotted;
  }

  /* single item */
  .shoppingCart__item {

  }

  .shoppingCart__item h2 {

  }

  .shoppingCart__item__nameContainer {
    float: none;
    border-right: none;
    border-bottom: 1px solid var(--gray);
    font-size: var(--secondaryTitle);
  }

  .shoppingCart__item__nameContainer__name {

  }

  .shoppingCart__item__ingredientsContainer {
    float: none;
    border-bottom: 1px solid var(--gray);
    padding: 0px 10px 0px 0px;
    padding-top: 10px;
  }

  .shoppingCart__item__ingredientsContainer__ingredients {

  }

  .shoppingCart__item__priceContainer {
    float: none;
    border-left: none;
    padding-left: 0px;
    padding-top: 10px;
  }

  /* total order */

  .shoppingCart__total {

  }

  .shoppingCart__total h2 {

  }

  .shoppingCart__total__priceContainer {
    float: none;
    border-right: none;
    border-bottom: 1px solid var(--gray);
    font-size: var(--secondaryTitle);
  }

  .shoppingCart__total__priceContainer h2 {
    color: var(--white);
  }

  .shoppingCart__total__calorieContainer {
    float: none;
    border-bottom: 1px solid var(--gray);
    padding: 0px 10px 0px 0px;
    padding-top: 10px;
  }

  .shoppingCart__total__adressContainer {
    float: none;
    border-left: none;
    padding-left: 0px;
    padding-top: 10px;
  }
  /*------------ gallery ------------*/
  .gallery {
    /* text-align: center; */
    margin: 0px auto;
    margin-top: 0px;
    grid-area: Gallery;
    /* grid options and naming */
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: none;
    grid-template-areas:
    "GalleryText"
    "GalleryImage";
  }

  .gallery__imageContainer {
    grid-area: GalleryImage;
    margin-right: 0px;
    padding: 0px;
    margin: 0px auto;
    width: 85%;
    height: auto;
  }

  .gallery__textContainer {
    grid-area: GalleryText;
    margin-left: 0px;
    margin: 0px auto;
    text-align: center;
    width: 80%;
    height: auto;
  }

  .gallery__textContainer h1 {
    margin-top: 0px;
  }

  .gallery__textContainer h4 {
    margin-top: 20px;
  }

  /*------------ banner advert ------------*/
  .bannerAdvert {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .bannerAdvert__image {
    /* width: 90%; */
    display: none;
  }

  .bannerAdvert__imageMobile {
    display : block;
    width: 90%;
    margin: 0px auto;
  }

  /*------------ review ------------*/
  .review {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* review field */
  .review__fieldContainer {
    margin-bottom: 10px;
  }

  .review__fieldContainer__review__topContainer {

  }

  .review__fieldContainer__review__topContainer h3 {

  }

  .review__fieldContainer__review__topContainer i {
    padding-left: 0px;
  }

  .review__fieldContainer__review__bottomContainer h3 {

  }

  /* input field */
  .review__inputContainer {

  }

  .review__inputContainer__form__name, .review__inputContainer__form__email, .review__inputContainer__form__comment, .review__inputContainer__form__button {
    width: 96%;
  }

  .review__inputContainer__form__comment {
    height: 80px;
  }

  .review__inputContainer input[type=text] {
    padding-left: 10px;
  }

  .review__inputContainer__form__button {
    width: 100%;
  }

  /*------------ footer ------------*/
  .footer {
    height: auto;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    background-color: var(--black);
    background-image: url('./images/graphics/footerBackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .footer__container {
    width: 100%;
  }

  .footer__container__logo {
    padding-top: 20px;
    width: 230px;
    display: block;
    margin: 0px auto;
  }

  .footer__container__basil {
    display: none;
  }

  .footer__container__socialContainer {
    width: 48px;
    height: 48px;
    float: none;
    border-radius: 25px;
    font-size: var(--secondaryTitle);
    /* margin-left: 20px; */
    margin-top: 10px;
    display: inline-block;
    /* margin: 0px auto; */
  }

  .footer__container__socialContainer i {
    padding-top: 10px;
    padding-left: 0px;
  }

  .footer__container__socialContainer:hover {

  }

  .footer__container__socialContainer:hover i {

  }



}














/* */
