body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white)!important;
  background: url("images/graphics/background.jpg");
  background-attachment: fixed;
  background-position: center; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
